.navbar{
  width: 100%;
  height:50px;
  background-color: rgb(19, 19, 19);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.Links {
  margin-right: 50px;
  display: flex;
  align-items: center;
}


.Links a{
  text-decoration: none;
  color: white;
  margin-left: 20px;
  font-size: 20px;
}

.Links a:hover{
  color: lightblue;
  border-bottom: cyan solid 2px;
}

/* //gradient-to-r from-cyan-400 to-blue-500 */